.row.content
  %p
    = "Happy Count Average: #{@moods.average_happy}%"
  %p
    = "Happy Count Average from last week: #{@moods.last_week}%"
  %p
    = "Happy Count Average from two weeks ago: #{@moods.prior_week}%"

